<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CheckShow.Properties.Settings>
            <setting name="Container_Ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Container_Port" serializeAs="String">
                <value>12011</value>
            </setting>
            <setting name="Container_ImagePath" serializeAs="String">
                <value>C:\Users\cc\Desktop\Image</value>
            </setting>
            <setting name="Container_Lane" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Container_Plate_Name" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="Container_ChediPath" serializeAs="String">
                <value>C:\Users\cc\Desktop\Image</value>
            </setting>
            <setting name="UVSSIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UVSSPort" serializeAs="String">
                <value>20145</value>
            </setting>
            <setting name="Exit_Password" serializeAs="String">
                <value>123</value>
            </setting>
        </CheckShow.Properties.Settings>
    </userSettings>
</configuration>
